<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-4  margin1">
      <div class="container ">        
  
          <div class="card shadows special-card ">
            <div class="card-body">            
              <form>
               <div class="form-group ">
                  <label for="InputEmail1">NAME</label>
                  <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> 
                </div>
                <div class="form-group">
                  <label for="InputPassword1">Password</label>
                  <input type="password" class="form-control" id="InputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>              
          </div>
                  
  </div>

  </div>
  <div class="col-md-4">

  </div>
</div>
 
