
.margin1{
  margin-top: 8%;
  margin-bottom: 12%;
}


.special-card {
  
    background-color: rgba(245, 245, 245, 1);
    opacity: .9;
  }
  .ng-valid.ng-touched  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid.ng-touched
  {
    border-left: 5px solid #a94442; /* red */
  }

