<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand mb-0 h1 nav-item active" routerLink="/Home">Navbar <span class="sr-only">(current)</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
               <li class="nav-item">
                 <a class="nav-link" routerLink="/Login">Login</a>
              </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/Registration">Registration</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/Marks">Marks</a>
              </li>    
              </ul>
  </div>
</nav>