<div class="container full-height">

  <div class="row">
    <div class="col-md-12">
        <div class="card shadow top-space">
            <div class="card-body">
                <form class="form-inline ">
                    <div class="form-group mb-2">
                      <label for="text" class="sr-only"></label>
                      Enter the Roll No.
                    </div>
                    <div class="form-group mx-sm-2 mb-2">
                      <label for="rollno" class="sr-only">rollno</label>
                      <input type="text" required name="reg" #regno="ngModel" [(ngModel)]="marks.registrationNum" class="form-control" id="reg" placeholder="Registration">
                    </div>
                    <button  class="btn btn-primary mb-2">Search </button>
                    
                  </form>
            </div>
            </div>

    </div>

    
  
  </div>

   
  <div class="card shadow top-space">
      <div class="card-body">
      
              <div class="row">

                  <div class="col-md-3">
                    <input type=text class="form-control"   disabled placeholder="semester 1">
                  </div>
                  <div class="col-md-3">
                    <input type=text class="form-control" [(ngModel)]="sem1.obtainedMarks" placeholder="Obtained Marks"/>
                  </div>
                  <div class="col-md-3">
                    <input type=text class="form-control"   [(ngModel)]="sem1.maxMarks" placeholder="Min/Max Marks ">
                  </div>
                  <div class="col-md-3">
                    <input type=text class="form-control" [(ngModel)]="sem1.grade" placeholder="Grade">
                  </div>
            
                </div>

                <div class="row row-top-space">

                    <div class="col-md-3">
                      <input type=text class="form-control" disabled placeholder="semester 2">
                    </div>
                    <div class="col-md-3">
                      <input type=text class="form-control" [(ngModel)]="sem2.obtainedMarks" placeholder="Obtained Marks ">
                    </div>
                    <div class="col-md-3">
                      <input type=text class="form-control" [(ngModel)]="sem2.maxMarks"   placeholder="Min/Max Marks ">
                    </div>
                    <div class="col-md-3">
                      <input type=text class="form-control"  [(ngModel)]="sem2.grade" placeholder="Grade">
                    </div>
              
                  </div>
                  <div class="row row-top-space">
                    <button (click)="save()"  class="form-control btn-block btn-primary">Save </button>

                  </div> 
              </div>

      </div>


      

    
</div>






