.top-space{
    margin-top: 4%;
}

.row-top-space{

    margin-top:2%;
}

.full-height{

    margin-bottom: 18%;
}
.card{
    opacity: 1;
}
.alert{
    color:red ;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid .ng-touched
  {
    border-left: 5px solid #a94442; /* red */
  }