<div class="container full-height">

  <div class="row">
    <div class="col-md-12">
        <div class="card shadow top-space">
            <div class="card-body">
                <form class="form-inline ">
                    <div class="form-group mb-2">
                      <label for="text" class="sr-only"></label>
                      Enter the Roll No.
                    </div>
                    <div class="form-group mx-sm-2 mb-2">
                      <label for="rollno" class="sr-only">rollno</label>
                      <input type="password" required  [(ngModel)]="hero.name" #name="ngModel" name="password" class="form-control" id="inputPassword2" placeholder="Roll NO">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Search </button>
                  </form>
            </div>
            </div>

    </div>

    
  
  </div>

   
  <div class="card shadow top-space">
      <div class="card-body">
      
              <div class="row">

                  <div class="col-md-3">
                    <input type=text class="form-control" disabled placeholder="semester 1">
                  </div>
                  <div class="col-md-3">
                    <input type=text class="form-control" placeholder="obtained Marks ">
                  </div>
                  <div class="col-md-3">
                    <input type=text class="form-control" placeholder="Min/Max Marks ">
                  </div>
                  <div class="col-md-3">
                    <input type=text class="form-control" placeholder="Grade">
                  </div>
            
                </div>

                <div class="row row-top-space">

                    <div class="col-md-3">
                      <input type=text class="form-control" disabled placeholder="semester 2">
                    </div>
                    <div class="col-md-3">
                      <input type=text class="form-control" placeholder="obtained Marks ">
                    </div>
                    <div class="col-md-3">
                      <input type=text class="form-control" placeholder="Min/Max Marks ">
                    </div>
                    <div class="col-md-3">
                      <input type=text class="form-control" placeholder="Grade">
                    </div>
              
                  </div>
                  <div class="row row-top-space">
                    <input type="submit" class="form-control btn-block btn-primary">

                  </div>
              </div>

      </div>


      

    
</div>






