
<div class="container margin1">
  <div class="card shadow special-card">
      <div class="card-body">
         <div class="row">
            <div class="col-sm">
              <div class="card shadow">
                <div class="card-body">
                  <h5 class="card-title">Student info</h5>
                    <div class="row">
                    <div class="col-sm">
                      <input type="text" required minlength="10" class="form-control topSpace"  placeholder="First name">
                      <select class="form-control topSpace" id="exampleFormControlSelect1">
                          <option selected>Category</option>
                          <option>UR</option>
                          <option>OBC</option>
                          <option>SC</option>
                          <option>ST</option>                            
                        </select>
                        <input type="text" required minlength="16" class="form-control topSpace"  placeholder="Father Name">
                        <div class="input-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text topSpace" id="basic-addon1">+91</span>
                          </div>
                          <input  type="number" required minlength="10"  class="form-control topSpace"  placeholder="Mobile No">
                        </div> 
                        <input type="text" required  class="form-control topSpace"  placeholder="Address">
                        <input type="text" required class="form-control topSpace"  placeholder="City">                        
                        
                      </div>
                      <div class="col-sm">
                      <input type="text" required minlength="10" class="form-control topSpace " placeholder="Last name">
                      <select class="form-control topSpace" required id="exampleFormControlSelect1">
                          <option selected>Gender</option>
                          <option>MALE</option>
                          <option>FEMALE</option>                                    
                        </select>
                        <input type="text" required class="form-control topSpace"  placeholder="Mother Name">  
                        <input type="text" required class="form-control topSpace" 
                        placeholder="Date of Birth" (focus)="d.toggle()"  ngbDatepicker #d="ngbDatepicker"/>
                        <input type="text" required class="form-control topSpace"  placeholder="Village">
                        <select class="form-control topSpace" required id="exampleFormControlSelect1">
                            <option selected>State</option>
                            <option>UTTAR PRADESH</option>
                            <option>UTTARAKHAND</option>                                    
                          </select>
                                               
                    </div>                    
                  </div>
              </div>
            </div>  
        </div>
      <div class="col-sm">
          <div class="card shadow">
              <div class="card-body">
                  <h5 class="card-title">Course info</h5>
                    <div class="row">
                      <div class="col-sm">
                         <input type="number"  class="form-control topSpace"  placeholder="Reg no">
                         <input type="text"  class="form-control topSpace"  placeholder="Course Name">
                         <input type="text"  class="form-control topSpace" 
                         placeholder="Date" (focus)="e.toggle()"  ngbDatepicker #e="ngbDatepicker"/>
                         </div>
                         <div class="col-sm">
                          <input type="text"  class="form-control topSpace"  placeholder="Centre Name">
                          <input type="number"  class="form-control topSpace"  placeholder="Duration">
                         </div>   
                      </div>
                   </div>      
                </div>
                <br>
                <div class="card shadow topSpace">
                  <div class="card-body">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <button class="input-group-text" id="inputGroupFileAddon01">Upload</button>
                      </div>
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">filename</label>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
      </div>
      <br>
                    <div class="card shadow">
                       <div class="card-body">
                         <h5 class="card-title">Education Details</h5>
                         <table class="table table-borderless table-hover table-responsive">
                            <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Subjects</th>
                                  <th scope="col">Name of Board</th>
                                  <th scope="col">Passing Year</th>
                                  <th scope="col">Marks Obtained</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">High School</th>
                                  <td><input type="text"  class="form-control "  placeholder="Centre Name"></td>
                                  <td><input type="text"  class="form-control "  placeholder="Centre Name"></td>
                                  <td><input type="text"  class="form-control "  placeholder="Centre Name"></td>
                                  <td><input type="text"  class="form-control "  placeholder="Centre Name"></td>
                                </tr>
                                <tr>
                                  <th scope="row">Intermediate</th>
                                  <td><input type="text"  class="form-control "  placeholder="Centre Name"></td>
                                  <td><input type="text"  class="form-control "  placeholder="Centre Name"></td>
                                  <td><input type="text"  class="form-control "  placeholder="Centre Name"></td>
                                  <td><input type="text"  class="form-control "  placeholder="Centre Name"></td>
                                </tr>
                                <tr>
                                  <th scope="row">Graduation</th>
                                  <td><input type="text"  class="form-control "  placeholder="Centre Name"></td>
                                  <td><input type="text"  class="form-control "  placeholder="Centre Name"></td>
                                  <td><input type="text"  class="form-control "  placeholder="Centre Name"></td>
                                  <td><input type="text"  class="form-control "  placeholder="Centre Name"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Others</th>
                                    <td><input type="text"  class="form-control "  placeholder="Centre Name"></td>
                                    <td><input type="text"  class="form-control "  placeholder="Centre Name"></td>
                                    <td><input type="text"  class="form-control "  placeholder="Centre Name"></td>
                                    <td><input type="text"  class="form-control "  placeholder="Centre Name"></td>
                                  </tr>
                              </tbody>
                         </table>
                     </div>
                     </div>
      </div>    
      <button type="button" class="btn btn-primary shadow">Submit</button>
  </div>
  
</div>
